{
	"env": {
		"browser": true,
		"es6": true,
		"jest": true,
		"node": true
	},
	"extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"],
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"plugins": ["import", "jsx-a11y", "react", "react-hooks", "prettier"],
	"rules": {
		"import/first": "error",
		"no-console": "warn",
		"no-eval": "error"
	},
	"settings": {
		"import/resolver": {
			"node": {
				"paths": ["./"]
			}
		},
		"react": {
			"version": "16.13.1"
		}
	}
}
